:root {
  --square-color: #444444;
  --square-color-darker: #333333;
  --winning-square-color: green;
  --square-darken-percent: 75%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #222223;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: white;
  gap: 24px;
}

.board {
  display: grid;

  width: 40%;
  min-width: 400px;
  max-width: 800px;
  aspect-ratio: 1;

  box-shadow: 0 2px 2px black;
}

.square {
  font-size: 300%;
  color: var(--square-color);
  border-radius: 0;
  border: 2px solid black;
  opacity: 1;
  background-color: var(--square-color);
  position: relative;

  transform-style: preserve-3d;
  transform: perspective(1000px);

  transition: background-color 250ms, filter 500ms, color 100ms;
}

.square:not(:empty) {
  color: white;
}

.square:focus-visible {
  z-index: 99;
}

.square::after {
  content: attr(data-value);
  position: absolute;
  inset: 0;
  background-color: var(--winning-square-color);
  transform: translateZ(-1px);
  display: grid;
  place-items: center;
}

.square:not(:disabled):hover {
  background-color: var(--square-color-darker);
}

@keyframes flip {
  0% {
    scale: 1;
    translate: 0 0 0;
    transform: rotateY(0);
  }

  10% {
    transform: rotateY(0);
  }

  50% {
    scale: 1.1;
    translate: 0 0 100px;
  }

  90% {
    transform: rotateY(180deg);
  }

  100% {
    scale: 1;
    transform: rotateY(180deg);
    translate: 0 0 0;
  }
}

.flip {
  animation: flip 600ms forwards;
  z-index: 1;
}

.fade {
  filter: brightness(var(--square-darken-percent))
}

.fade::after {
  background-color: var(--square-color);
}