* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #222223;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: white;
  gap: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: 20%;
  min-width: 200px;
  max-width: 400px;
  aspect-ratio: 1;

  box-shadow: 0 2px 2px black;
}

.square {
  font-size: 300%;
  color: white;
  border-radius: 0;
  border: 2px solid black;
  background-color: #444444;
  position: relative;

  transform-style: preserve-3d;
  transform: perspective(1000px);

  transition: background-color 250ms;
}

.square:focus-visible {
  z-index: 99;
}

.square::after {
  content: attr(data-value);
  position: absolute;
  inset: 0;
  background-color: green;
  transform: translateZ(-1px);
  display: grid;
  place-items: center;
}

.square:not(:disabled):hover {
  background-color: #333333;
}

@keyframes flip {
  0% {
    scale: 1;
    transform: rotateY(0);
  }

  10% {
    transform: rotateY(0);
  }

  50% {
    scale: 1.1;
  }

  90% {
    transform: rotateY(180deg);
  }

  100% {
    scale: 1;
    transform: rotateY(180deg);
  }
}

.flip {
  animation: flip 600ms forwards;
  z-index: 1;
}